<div class='flexy'>
  <%= image_tag("marry.png", class: 'option') %>
  <%= image_tag("fuck.png", class: 'option') %>
  <%= image_tag("kill.png", class: 'option') %>
</div>

<div class="error flexy">
</div>

<div class='statistics flexy'>
</div>

<%= link_to "Ugh, give me some other options", root_path, class: 'ugh' %>

<table class='flexy'>
  <tr>
    <td> 
      <ul class='lists'>
        <li class='person'>MARRY</li>
        <li class='person'>FUCK</li>
        <li class='person'>KILL</li>
      </ul>
    </td>
    <td>
      <ul class='lists' id='sortable'>
        <% @choices.each do |choice| %>
            <li class='person names'> <%= choice.name.titleize %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<input name="authenticity_token" 
       type="hidden"
       id='token'
       value="<%= form_authenticity_token %>"/>

<div class='flexy' id="decision-submit">
  VOTE!
</div>

<%= link_to "MFK SOME MORE", root_path, class: 'flexy', id: 'new-options' %>

<div class='flexy new-person'>
<%= form_tag do %>
  <div class='field'>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div class='submit'>
    <%= submit_tag %>
  </div>
<% end %>
</div>